#navbar {
  background-color: #fff;
}

#avatar {
  margin-bottom: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33px !important;
}

.navbar{

  &__logo {
    display: flex;
    align-items: center;
  }

  &__menu {
    display: flex;
    align-items: center;
    > a {
      color: #000;
      
      > svg {
        font-size: 30px;
        color: #000 !important;
      }
    }
  }
}